@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
    padding: 10px;
}

div{
    width: 80%;
    height: 150px;
    padding: 10px;
    background-color: #e5e5e5;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

div button{
    padding: 30px;
    font-size: 1.2em;
    font-weight: bold;
}
